.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: background-color 0.2s ease;
    height: 45px;
    padding: 0 10px;
    .header-left{
        display: flex;
        align-items: center;
        svg{
            font-size: 18px;
            display: flex;
        }
        .title{
            font-size: 18px;
            font-weight: 600;
            margin-left: 6px;
            max-width: 150px;
            .ant-typography{
                margin-bottom: 2px;

            }
        }
    }
    .header-right{
        display: flex !important;
        svg{
            font-size: 18px;
            display: flex;
        }
        .edit-icon{
            margin-right: 6px;
            display: flex;
            align-items: center;
            height: 24px;
            width: 24px;
            justify-content: center;
            border-radius: 14%;
            background: #e2e8f0;
            cursor: pointer;

            
        }
        .delete-icon{
            background: #E53935;
            display: flex;
            align-items: center;
            height: 24px;
            width: 24px;
            justify-content: center;
            border-radius: 14%;
            color: white;
            cursor: pointer;
        }
       

    }
}
.container{
    margin: 8px;
    display: flex;
    flex-direction: column;
    width: 250px;
}