.task-container{
    border-radius: 2px;
    background-color: white;
    padding: 8px;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    color: black;
    max-width: 225px;

    &:hover,
    &:active {
        color: black;
        text-decoration: none;
    }

    &:focus {
        outline: none;
        border: grey;
        box-shadow: none;
    }
    .task-drag{

        svg {
            font-size: 18px;
            display: flex;
        }
    }

    .task-content{
        flex-grow: 1;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 8px;
        height: 40px;
        .content-title{
            .ant-typography{
                margin-bottom: 0px;
                font-weight: 500;
                font-size: 14px;
                
            }
        }
    }
}