.task-list-wrapper {
  // background-color: ${props =>
  //     getBackgroundColor(props.isDraggingOver, props.isDraggingFrom)};
  display: flex;
  flex-direction: column;
  //   opacity: ${({ isDropDisabled }) => (isDropDisabled ? 0.5 : "inherit")};
  // opacity: 0.5;
  background-color: white;
  border: 8px;
  padding-bottom: 0;
  transition: background-color 0.2s ease, opacity 0.1s ease;
  user-select: none;
  width: 250px;
  .scroll-container{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 250px;
  }
  .drop-zone{
    min-height: 250px;
    padding-bottom: 8px;
  }
  .title{
    padding: 8px;
    transition: background-color ease 0.2s;
    flex-grow: 1;
    user-select: none;
    position: relative;
    // &:focus {
    //   // outline: 2px solid ${colors.P100};
    //   outline: 2px solid grey;
    //   outline-offset: 2px;
    // }
  }
  .add-task-btn{
    display: flex;
    flex-direction: row-reverse;
    margin: 6px;
    .ant-btn-sm{
      background: #38a169;
      border-radius: 3px;
      color: white;
    }
  }
}
