.app-bar {
  display: flex;
  height: 45px;
  align-items: center;
  background-color: white;
  margin: 5px 7px;
  justify-content: space-between;
  padding: 0 7px;
  border-radius: 3px;

  .app-bar-title {
    .ant-typography {
      margin-bottom: 2px;
    }
  }

  .add-col-btn {
    .ant-btn {
      background-color: #319795;
      color: white;
      width: 250px;
      border-radius: 8px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
