.add-col-modal {
  .ant-modal {
    .ant-modal-header {
      border-bottom: 0px;
    }

    .ant-modal-body {
      display: flex;
      flex-direction: column;

      .add-col-input {
        .ant-input {
          border-radius: 8px;
          height: 35px;
        }
      }

      .add-actions {
        margin-top: 30px;
        display: flex;
        flex-direction: row-reverse;
        .submit-btn {
          background: #9e9e9e;
          color: white;
          border-radius: 4px;
        }
        .close-btn {
          margin-right: 6px;
          background: #e53935;
          color: white;
          border-radius: 4px;
        }
      }
    }
  }
}
